@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300");
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1 {
  font-family: "Arima Madurai", cursive;
  color: black;
  font-size: 4rem;
  letter-spacing: -3px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 3;
  transition: all 3s;
}
.container {
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35rem;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 168, 76, 0.6) 0%,
      rgba(255, 123, 13, 0.6) 100%
    ),
    url("https://images.unsplash.com/photo-1446824505046-e43605ffb17f");
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center center;
  padding: 2rem;
}

.cont2 {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content 1fr;
  z-index: 3;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
}

.img-hold {
  background-color: #c49e35;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
  transition: all 3s;
}

.img-hold:hover {
  width: 960px;
  height: 720px;
  box-shadow: rgba(0, 0, 0, 0.95) 0px 10px 20px;
}

h1:hover {
  transform: scale(1.2);
}

.feed {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: calc(100% + 2px);
  object-fit: contain;
  transform: rotate(90deg);
}
